
/*body{
    background-image: url(dibujoHome.jpg);
    background-position: 100%;
    background-position-y: 50px;
    background-color: #000000;
    background-repeat:no-repeat;
    background-size:90vh auto;
    Font-family: Franklin Gothic, Arial Bold;
}
*/
html, body{
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    Font-family: Franklin Gothic, Arial Bold;
    position: relative;

}

.hero-clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* esto recorta el desborde de .dibujo LOCALMENTE */
    z-index: -1;
    pointer-events: none;
}

.dibujo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(dibujoHome.jpg);
    background-position: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: 90vh auto;
}
main{
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
}

*{
    text-decoration: none;
}
header nav{
    text-align: center;
    margin: right;
  }
    header nav ul{
        margin-top: 10px;
        padding-left: 0;
        z-index: 1;
    }
    header nav ul li{
      display: inline-block;
    }
    header nav ul li a{
      font-size: 140%;
      display: flex;
      padding: 20px;
    }
a{
    text-decoration: none;
    color: white;
}
p{
    display: inline;
}
.name{
    background-color: transparent;
    color: white;
    text-align: left;
    margin-top: 35vh;
    padding-left: 8vh;
}
h1{
    font-size: 9vh; 
}
a:hover{
    transform:scale(115%);
    transition: all .2s;
}
h2{
    font-size: 3vh;
}
@media (max-width: 650px) {
    body{
        background-size: 57vh;
        background-position: center;
        background-position-y: 40vh;
        }
    .H{
        display: none;
      }
  .name{
      color: white;
      text-align: center;
      margin-top: 9vh;
      padding-left: 0;
      }
      h1{
        font-size: 6vh; 
    }
    h2{
        margin-left: 0%;
    }
}

